#itemInput {
  display: flex;
  justify-content: center;
  background-color: #3f51b5;
  input {
    width: 60%;
    height: 30px;
    margin: 10px;
    border-radius: 16px;
    border-style: none;
    outline: none;
    &:hover {
      cursor: pointer;
    }
  }
}
